#easycal-editcal fieldset {
    margin: 0 0 0 0;
    background-color: white;
    color: black;
    /*border: 1em solid rgba(57, 57, 57, 0.5);*/
    border-style: none;
    outline: rgba(57, 57, 57, 0.3) solid 1.2em;
}
#easycal-editcal legend {
    font-size: large;
}

#easycal-editcal #address {
    width: 27em;
}
#easycal-editcal #summary {
    width: 27em;
    vertical-align: top;
}
#easycal-editcal #content {
    width: 27em;
    vertical-align: top;
}

#easycal-editcal .warning {
    color: red;
}

#easycal-editcal #div_submit {
    text-align: center;
}

#easycal-editcal #easycal-form-submit, #easycal-form-cancel {
    padding: 0.5em 3em 0.5em 3em;
    margin: 1em 1em 1em 1em;
    background-color: #DDDDDD;
    border: 1px solid black;
    border-radius: 3px;
}

#easycal-editcal .sch_div {
    white-space: nowrap;
    margin: 0.25em 0em 0.25em 0em;
}

#easycal-editcal input {
    border: 1px solid black;
}
