
#outer_frame {
    padding: 0.5em 2em 0.5em 1em;
    backgound-image:url(background-img.png);
    background-repeat:repeat-y;
}

#calendar {
    margin: 0.4em 0.4em 1em 0.4em;
    outline:#B6D1EE medium solid;
    width: 16em;
    height: 245px;
    text-align:center;
    overflow:hidden;
    background-color:#F5F5F5;
}

#schedhead {
    background-color: #B6D1EE;
    display: block;
    margin: 0 3px 0.2em 0.4em;
    padding: 0;
    height: 1.2em;
    outline:#B6D1EE medium solid;
}

#sched {
    margin: 0.2em 0.4em 0 0.4em;
    outline:#B6D1EE medium solid;
    width: 16em;
}


/*
.triangle {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: bottom;
    width: 0;
    height: 0;
    line-height: 0;
    border-top: 1.2em solid white;
    border-left: 1.2em solid #B6D1EE;
    border-left-color: #B6D1EE;
}
*/

td.summary {
    width: 10em;
}

td.time {
    width:3em;
}

.summary a {
    color: black;
    font-size: smaller;
    text-decoration: none;
    cursor: text; /* fake a non-anchor */
}

.time {
    text-align: right;
}
