#outer_frame {
    padding: 0.5em 2em 0.5em 1em;
}

#calendar {
    margin: 3px 10% 1em 10%;
    padding: 0 0 0 0px;
    outline:#B6D1EE medium solid;
    width: 198px;
    height: 250px;
    position:center;
}

#schedhead {
    background-color: #B6D1EE;
    display: block;
    margin: 0 3px 1em 3px;
    padding: 0;
    height: 1.2em;
    outline:#B6D1EE medium solid;
}

#sched {
    margin: 0.4em 0.4em 0 3px;
    outline:#B6D1EE medium solid;
    width: 16em;
}


/*
.triangle {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: bottom;
    width: 0;
    height: 0;
    line-height: 0;
    border-top: 1.2em solid white;
    border-left: 1.2em solid #B6D1EE;
    border-left-color: #B6D1EE;
}
*/

td.summary {
    width: 10em;
}

td.time {
    width:3em;
}

.summary a {
    color: black;
    font-size: smaller;
    text-decoration: none;
    cursor: text; /* fake a non-anchor */
}

.time {
    text-align: right;
}
