#calendar {
    margin: 3px 3px 1em 3px;
    padding: 0 0 0 0px;
    /*padding: 2px;*/
    /*border: 2px solid #000000;/*#B6D1EE;*/
    outline:#B6D1EE medium solid;
    width: 198px;
    height: 250px;
}

#schedhead {
    background-color: #B6D1EE;
    display: block;
    margin: 0 3px 1em 3px;
    padding: 0;
    height: 1.2em;
    outline:#B6D1EE medium solid;
}

#sched {
    margin: 0.2em 3px 0 3px;
    outline:#B6D1EE medium solid;
    width: 198px;
}


/*
.triangle {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: bottom;
    width: 0;
    height: 0;
    line-height: 0;
    border-top: 1.2em solid white;
    border-left: 1.2em solid #B6D1EE;
    border-left-color: #B6D1EE;
}
*/

.summary a {
    color: black;
    font-size: smaller;
    text-decoration: none;
}

.time {
    text-align: right;
}
